typeFont = "Source Sans Pro"
codeFont = "Source Code Pro"

radiusSize = 16px
linkColor = black

telogicalDarkBlue = rgb(9,60,92)
offWhite = rgb(255,228,181)
twitterBlue = rgb(0,172,237)

body
  font-family typeFont
  text-align center
  font-smoothing antialiased
  -webkit-font-smoothing antialiased
  -moz-font-smoothing antialiased

ul, li
  list-style-type none
  padding 0

.fa-twitter
  color twitterBlue

a 
  text-decoration none
  &:visited, &:link
    color linkColor
  &:hover 
    text-decoration underline

.title
  font-size 24px
  font-weight bold

.code 
  font-family codeFont

.tutorial-box
  min-height 100px
  border-radius radiusSize
  font-weight bold
  color white
  background-color telogicalDarkBlue
  & a
    color white
  & a:hover
    color offWhite
    text-decoration none

.tutorial-content
  text-align left
