blueOne = rgb(84,114,191)
blueTwo = rgb(56,76,127)
blueThree = rgb(112,151,255)
blueFour = rgb(85,115,194)
blueFive = rgb(101,136,229)
foreground = white

.blue-one
  background-color blueOne
  color white

.blue-two
  background-color blueTwo
  color white

.blue-three
  background-color blueThree
  color white

.blue-four
  background-color blueFour
  color white

.blue-five
  background-color blueFive
  color white
